@page "/simpleform"

<h3>EditForm Example</h3>

<div>@statusText</div>

@if (person == null)
{
<div>Loading...</div>
}
else
{
@*<EditForm Model="@person" OnValidSubmit="@FormValid" OnInvalidSubmit="@FormInvalid">*@
<EditForm Model="@person" OnSubmit="@FormSubmitted">
  <DataAnnotationsValidator />
  <ValidationSummary />
  <InputText @bind-Value=person.Name />
  <ValidationMessage For=@(() => person.Name) />
  <InputDate @bind-Value=person.Birthday
             ParsingErrorMessage="Birthday must be a date" />
  <div>@person.Name is @person.Age years old</div>
  <input type="submit" value="Save" class="btn btn-primary" />
</EditForm>
}

@code {
  private PersonEdit person;
  private string statusText;

  protected override void OnParametersSet()
  {
    person = new PersonEdit
    {
      Name = "Jan Kowalski",
      Birthday = new DateTime(1998, 8, 21)
    };
    statusText = "";
  }

  private void FormSubmitted(EditContext editContext)
  {
    statusText = $"Form submitted, valid: {!editContext.GetValidationMessages().Any()}";
    // handle form data here
  }

  private void FormValid(EditContext editContext)
  {
    statusText = "Form is valid";
    // handle valid form data here
  }

  private void FormInvalid(EditContext editContext)
  {
    statusText = "Form is not valid";
    // handle invalid form data here
  }
}
